# WebStorm workspace configuration
.idea/

# Build result
plugins/
*.tsbuildinfo

# Auto generated docs
api-docs/public
api-docs/firebase-debug.log
api-docs/.firebase/

# User prefs
.vscode/

# Mac files
.DS_Store

# npm pack files
*.tgz

# private files
accounts.txt
accounts.json
accounts_new.json
char-info.cache.json
servers.cache.json
node_modules/*
exalt-resources/*
plugin-src/mode_modules/
plugins/

index.js
plugin-src/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
plugin-src/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
plugin-src/unused/tools/servers.json
